@mixin line {
  width: 100%;
  height: 1px;
  background-color: rgba(190, 188, 189, 1);
}

@mixin button($border, $bg, $color: $purple) {
  padding-block: 12px;
  padding-inline: 48px;
  border-radius: 8px;
  background-position: center;
  background-position-x: 150px;
  background-repeat: no-repeat;
  background-color: $bg;
  border: 1px solid $border;
  color: $color;
  font-weight: 500;
  transition: all 0.3s linear;

  @if $border ==true {
    border: 1px solid $gray;
  }

  @if $bg ==true {
    background-color: $purple;
  }

}


@mixin link {
  text-decoration: underline;
  text-underline-position: under;
  color: $gray;
  margin-inline-start: 5px;
  cursor: pointer;
}


@mixin search {
  background-color: $light-gray;
  padding-inline-start: 30px;
  padding-inline-end: 10px;
  max-width: 184px;
  position: relative;
  background-image: url('@/assets/images/icons/search.svg');
  background-repeat: no-repeat;
  background-position: left;
  background-position-x: 10px;
  border-radius: 8px;
  border: 1px solid transparent;

}

@mixin purple-candle {
  width: 6px;
  background-color: $purple;
  border-radius: 10px;
  height: 30px;
  margin-inline-end: 20px;
}

@mixin arrow($color, $size, $border-width) {
  position: absolute;
  width: $size;
  height: $size;
  border-bottom: $border-width solid $color;
  border-left: $border-width solid $color;
  cursor: pointer;


}