h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'CoreSans', serif;
}

p {
    font-family: 'Causten', serif;
    font-size: 16px;
}

.container{
    margin: 0 auto;
    max-width: 1250px;
    padding-inline: 5px;
}