h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'CoreSans', serif;
}

p {
    font-family: 'Causten', serif;
    font-size: 16px;
}

input:not([type="search"]) {
    border: 1px solid $gray;
    border-radius: 8px;
    padding-inline: 8px;
    padding-block: 8px;
    margin-block-start: 10px;
    margin-block-end: 4px;
    transition: all .2s linear;

    &:focus-visible {
        border: 1px solid $purple;
        color: $purple;
        background-color: $light-gray;
    }


}

.container {
    margin: 0 auto;
    max-width: 1250px;
    padding-inline: 5px;
}