$error: rgba(255, 0, 0, 1);
$gray: rgba(60, 66, 66, 1);
$light-gray: rgba(246, 246, 246, 1);
$purple: rgba(138, 51, 253, 1);


$title: 34px;
$big-title: 78px;
$sup-title: 32px;
$title-footer: 28px;
$feedback-name: 21px